# Using SQL Databases and creating a SQL Database

In [1]:
import sqlite3
import pandas as pd

## df = pd.read_sql(sql="SELECT * FROM users", con = connection, index_col="id")

In [6]:
# OPENING THE SQL FILE AND STORING THE QUERY IN A VARIABLE

with open("/home/diablo/Desktop/IIIT_Program/Module -2 EDA/DataSet-M1/Datasets and Python Notebook for Handling Files/Create database.sql", "r") as f:
    sql_script=f.read()

# CONNECT TO A SQLite DATABASE IN MEMORY - creating a temporary database in memory

connection = sqlite3.connect(":memory:")

# EXECUTING THE SQL SCRIPT TO CREATE TABLE AND INSERT DATA IN MEMORY

connection.executescript(sql_script)

# QUERY THE DATA AND LOADING IN DATA FRAME

df = pd.read_sql(sql="SELECT * FROM users", con = connection, index_col="id")

# OR ----- df = pd.read_sql_query("SELECT * FROM users", connection)  -- This makes the pandas to create index

print(df)

connection.close()

       name  age
id
1     Alice   30
2       Bob   25
3   Charlie   35

## pd.read_sql_query("SELECT * FROM users", connection)

In [5]:
with open("/home/diablo/Desktop/IIIT_Program/Module -2 EDA/DataSet-M1/Datasets and Python Notebook for Handling Files/Create database.sql", "r") as f:
    sql_script=f.read()

# CONNECT TO A SQLite DATABASE IN MEMORY - creating a temporary database in memory

connection = sqlite3.connect(":memory:")

# EXECUTING THE SQL SCRIPT TO CREATE TABLE AND INSERT DATA IN MEMORY

connection.executescript(sql_script)

# QUERY THE DATA AND LOADING IN DATA FRAME

df = pd.read_sql_query("SELECT * FROM users", connection)  

print(df)

connection.close()

   id     name  age
0   1    Alice   30
1   2      Bob   25
2   3  Charlie   35

## Wriring DataFrames to SQL tables

In [11]:
data = {
        "ID": [213,214,215,216,217],
        "Name": ["Bob","Lip","Tammi","Debbie","Frank"],
        "u_ID": ["AX3","LP3","TX4","JB7","OX9"],
        "Amount": [2444, 678, 3000, 985, 2001]
}

df= pd.DataFrame(data)

try:
    with open("dataFrameToSQL_File.sql", "w") as f:
        
        # This SQL Query Creates the table 
        
        f.write("""CREATE TABLE IF NOT EXISTS df_to_SQL(
        ID INTEGER PRIMARY KEY,
        Name TEXT,
        u_ID TEXT,
        Amount INTEGER );\n\n""")

        # This SQL Query adds the values/rows from the dictonary to SQL file
        
        for i,row in df.iterrows():
            f.write(f"INSERT INTO df_to_SQL (ID, Name, u_ID, Amount) VALUES({row["ID"]}, '{row["Name"]}', '{row["u_ID"]}', {row["Amount"]}); \n")

    print("Action Complete")

except Exception as e:
    print(f"ERROR while writing to SQL file:= {e}")

Action Complete