# pandas series are strictly 1 D    
x=pd.Series(np.array([[1,2],[2,3],[2,4]]))!!!!!!!!! ERROR !!!!!!!!!!

In [1]:
import pandas as pd

In [3]:
empty_series=pd.Series()

In [4]:
empty_series

Series([], dtype: object)

In [5]:
empty_series.dtype

dtype('O')

In [6]:
new_s=pd.Series(data=[1,2,3,4])
new_s

0    1
1    2
2    3
3    4
dtype: int64

In [7]:
new_s.dtype

dtype('int64')

In [8]:
new_s.ndim

1

In [9]:
new_s.shape

(4,)

In [10]:
new_s.size

4

In [11]:
new_s.index

RangeIndex(start=0, stop=4, step=1)

In [12]:
new_s.values

array([1, 2, 3, 4])

In [13]:
type(new_s)

pandas.core.series.Series

In [14]:
new_s

0    1
1    2
2    3
3    4
dtype: int64

In [15]:
mixed_s=pd.Series(["Oi", 1233, [22,1], 12.12])
mixed_s

0         Oi
1       1233
2    [22, 1]
3      12.12
dtype: object

In [16]:
mixed_s.dtype

dtype('O')

In [18]:
main_s=pd.Series(data=["Frank","Gallager",55,174], index=["First Name", "Lastname","Age","Height"], name="Red Case ")
main_s

First Name       Frank
Lastname      Gallager
Age                 55
Height             174
Name: Red Case , dtype: object

In [22]:
main_s["Lastname"]

'Gallager'

In [24]:
dict1={"A":1,"B":2,"C":3,"D":4}
dict_s=pd.Series(dict1)
dict_s

A    1
B    2
C    3
D    4
dtype: int64

#### iloc[] - Integer location based indexer

In [36]:
print(dict_s.iloc[0])
print(dict_s.iloc[0:5])
print(dict_s.iloc[0:4:2])
print("!!!!!!======    ")
print(main_s.iloc[1:-1])
print("!!!!!!======    ")
print(main_s.iloc[2])
print(dict_s.iloc[-2])
print(main_s.iloc[-1])

1
A    1
B    2
C    3
D    4
dtype: int64
A    1
C    3
dtype: int64
!!!!!!======
Lastname    Gallager
Age               55
Name: Red Case , dtype: object
!!!!!!======
55
3
174

#### Normal Index Based

In [37]:
print(dict_s["B"])
print(dict_s["A":])
print(dict_s["B":"D"])
print(main_s["First Name"])
print(main_s["First Name":"Age"])
print("!!!!!!======    ") 
print(main_s.loc["First Name":"Age"]) # series.loc[] and series[] is same

2
A    1
B    2
C    3
D    4
dtype: int64
B    2
C    3
D    4
dtype: int64
Frank
First Name       Frank
Lastname      Gallager
Age                 55
Name: Red Case , dtype: object
!!!!!!======
First Name       Frank
Lastname      Gallager
Age                 55
Name: Red Case , dtype: object

# series.isin([x,y,z])

In [40]:
dummy= pd.Series({"A":55,"B":23,"C":7,"D":88})
dummy[dummy.isin([44,33,22,23])]

B    23
dtype: int64

In [41]:
dummy.isin([44,33,22,23])

A    False
B     True
C    False
D    False
dtype: bool

In [42]:
dummy[dummy.isin([44,55,22,23])]

A    55
B    23
dtype: int64

In [46]:
dummy.loc[(dummy>=23) & (dummy<60)]

A    55
B    23
dtype: int64

# sort_values()

In [47]:
dummy.sort_values()

C     7
B    23
A    55
D    88
dtype: int64

# Operations on Series

In [54]:
series1=pd.Series([10,20,30])
series2=pd.Series([1,2,3])

In [49]:
series1+series2

0    11
1    22
2    33
dtype: int64

In [50]:
series1*series2

0    10
1    40
2    90
dtype: int64

In [51]:
series2/series1

0    0.1
1    0.1
2    0.1
dtype: float64

In [52]:
series2*5

0     5
1    10
2    15
dtype: int64

In [55]:
series1+10

0    20
1    30
2    40
dtype: int64

In [56]:
(series2*10)-(series1+10)

0   -10
1   -10
2   -10
dtype: int64

In [57]:
series2*10+series1

0    20
1    40
2    60
dtype: int64

In [58]:
# To calculate phone steps and watch steps

ph_step=pd.Series(data=[1000, 5000, 3000, 2000, 8000], index=["Mon","Tue","Wed","Thu","Fri"], name="Phone Steps")
wh_step=pd.Series(data=[7000, 8000, 2000], index=["Wed","Thu","Fri"], name="Watch Steps")

In [59]:
ph_step

Mon    1000
Tue    5000
Wed    3000
Thu    2000
Fri    8000
Name: Phone Steps, dtype: int64

In [60]:
wh_step

Wed    7000
Thu    8000
Fri    2000
Name: Watch Steps, dtype: int64

In [61]:
ph_step+wh_step

Fri    10000.0
Mon        NaN
Thu    10000.0
Tue        NaN
Wed    10000.0
dtype: float64

In [62]:
ph_step.add(wh_step, fill_value=0)  #This sets the missing Value to 0 and THEN ADD IT (so in wh_steps there are 2 missing value which is 0 and then added to ph_steps values)

Fri    10000.0
Mon     1000.0
Thu    10000.0
Tue     5000.0
Wed    10000.0
dtype: float64

In [94]:
total=ph_step+wh_step
total.isna()

Fri    False
Mon     True
Thu    False
Tue     True
Wed    False
dtype: bool

In [95]:
total.fillna(380, inplace=True) # Inplace replaces the total value with func output

In [96]:
total

Fri    10000.0
Mon      380.0
Thu    10000.0
Tue      380.0
Wed    10000.0
dtype: float64

In [66]:
opka=ph_step+wh_step
opka

Fri    10000.0
Mon        NaN
Thu    10000.0
Tue        NaN
Wed    10000.0
dtype: float64

In [67]:
opka.dropna()

Fri    10000.0
Thu    10000.0
Wed    10000.0
dtype: float64

In [68]:
opka

Fri    10000.0
Mon        NaN
Thu    10000.0
Tue        NaN
Wed    10000.0
dtype: float64

In [69]:
opka.dropna(inplace=True)

In [70]:
opka

Fri    10000.0
Thu    10000.0
Wed    10000.0
dtype: float64

In [73]:
total.sum()

np.float64(30760.0)

In [74]:
total.mean()

np.float64(6152.0)

In [76]:
total.mode()

0    10000.0
dtype: float64

In [78]:
total.median()

10000.0

In [79]:
total.count()

np.int64(5)

In [81]:
total.sort_values()

Mon      380.0
Tue      380.0
Fri    10000.0
Thu    10000.0
Wed    10000.0
dtype: float64

In [82]:
total.sort_index()

Fri    10000.0
Mon      380.0
Thu    10000.0
Tue      380.0
Wed    10000.0
dtype: float64

- Values are [10000][10000][10000] with index [Fri, Mon, Thu, Tue, Wed]; sorting ascending yields [10000][10000][10000]. The two 380s occupy positions 1 and 2, so both are assigned (1+2)/2=1.5(1+2)/2=1.5. The three 10000s occupy positions 3, 4, 5, so each is (3+4+5)/3=4.0(3+4+5)/3=4.0.

In [83]:
total.rank()

Fri    4.0
Mon    1.5
Thu    4.0
Tue    1.5
Wed    4.0
dtype: float64

In [85]:
xyz=total.reset_index()
xyz # This is a dataframe now

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

  index        0
0   Fri  10000.0
1   Mon    380.0
2   Thu  10000.0
3   Tue    380.0
4   Wed  10000.0

In [98]:
abc=total.reset_index(drop=True)
print(abc)

0    10000.0
1      380.0
2    10000.0
3      380.0
4    10000.0
dtype: float64

In [101]:
total

Fri    10000.0
Mon      380.0
Thu    10000.0
Tue      380.0
Wed    10000.0
dtype: float64