In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv("/home/diablo/Desktop/IIIT_Program/Module2 - Main EDA /Derived Metrics/odi-batting.csv")

In [4]:
df.head()

,Country,Player,Runs,MatchDate,Weekday,Ground,Versus,Balls
0,Afghanistan,Mohammad Shahzad,118,16-02-2010,Tue,Sharjah CA Stadium,Canada,121
1,Afghanistan,Mohammad Shahzad,110,01-09-2009,Tue,VRA Ground,Netherlands,111
2,Afghanistan,Mohammad Shahzad,100,16-08-2010,Mon,Cambusdoon New Ground,Scotland,72
3,Afghanistan,Mohammad Shahzad,82,10-07-2010,Sat,Hazelaarweg,Netherlands,108
4,Afghanistan,Mohammad Shahzad,57,01-07-2010,Thu,Sportpark Westvliet,Canada,57

In [5]:
century=df[df["Runs"]>99]

In [6]:
century.head()

,Country,Player,Runs,MatchDate,Weekday,Ground,Versus,Balls
0,Afghanistan,Mohammad Shahzad,118,16-02-2010,Tue,Sharjah CA Stadium,Canada,121
1,Afghanistan,Mohammad Shahzad,110,01-09-2009,Tue,VRA Ground,Netherlands,111
2,Afghanistan,Mohammad Shahzad,100,16-08-2010,Mon,Cambusdoon New Ground,Scotland,72
62,Afghanistan,Noor Ali Zadran,114,16-02-2010,Tue,Sharjah CA Stadium,Canada,127
87,Afghanistan,Karim Sadiq,114,16-08-2010,Mon,Cambusdoon New Ground,Scotland,108

In [10]:
century.Player.describe()

count                   1161
unique                   280
top       Sachin R Tendulkar
freq                      48
Name: Player, dtype: object

In [14]:
century.Player.nunique()

280

In [17]:
century.Player.value_counts()

Player
Sachin R Tendulkar     48
Ricky T Ponting        30
Sanath T Jayasuriya    28
Sourav C Ganguly       22
Herschelle H Gibbs     21
                       ..
David L Houghton        1
Dion D Ebrahim          1
Charles K Coventry      1
Sean M Ervine           1
Douglas A Marillier     1
Name: count, Length: 280, dtype: int64

In [19]:
df["Strike rate"]=df["Runs"]/df["Balls"]

In [20]:
df.head()

,Country,Player,Runs,MatchDate,Weekday,Ground,Versus,Balls,Strike rate
0,Afghanistan,Mohammad Shahzad,118,16-02-2010,Tue,Sharjah CA Stadium,Canada,121,0.975207
1,Afghanistan,Mohammad Shahzad,110,01-09-2009,Tue,VRA Ground,Netherlands,111,0.990991
2,Afghanistan,Mohammad Shahzad,100,16-08-2010,Mon,Cambusdoon New Ground,Scotland,72,1.388889
3,Afghanistan,Mohammad Shahzad,82,10-07-2010,Sat,Hazelaarweg,Netherlands,108,0.759259
4,Afghanistan,Mohammad Shahzad,57,01-07-2010,Thu,Sportpark Westvliet,Canada,57,1.000000

In [22]:
df["Strike rate"].sort_values(ascending=False)

18203    6.000000
32185    6.000000
29715    6.000000
18988    6.000000
26429    5.000000
           ...
40694    0.037037
43931    0.035714
7954     0.034483
46716    0.033333
41847    0.029412
Name: Strike rate, Length: 50284, dtype: float64

In [24]:
df.iloc[32185]

Country            Pakistan
Player          Aaqib Javed
Runs                      6
MatchDate        10-01-1995
Weekday                 Tue
Ground             Newlands
Versus         South Africa
Balls                     1
Strike rate             6.0
Name: 32185, dtype: object

In [35]:
century["Strike rate"]=(century["Runs"]*100)/century["Balls"]

/tmp/ipykernel_51353/496707101.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  century["Strike rate"]=(century["Runs"]*100)/century["Balls"]

In [36]:
century.head()

,Country,Player,Runs,MatchDate,Weekday,Ground,Versus,Balls,Strike rate
0,Afghanistan,Mohammad Shahzad,118,16-02-2010,Tue,Sharjah CA Stadium,Canada,121,97.520661
1,Afghanistan,Mohammad Shahzad,110,01-09-2009,Tue,VRA Ground,Netherlands,111,99.099099
2,Afghanistan,Mohammad Shahzad,100,16-08-2010,Mon,Cambusdoon New Ground,Scotland,72,138.888889
62,Afghanistan,Noor Ali Zadran,114,16-02-2010,Tue,Sharjah CA Stadium,Canada,127,89.763780
87,Afghanistan,Karim Sadiq,114,16-08-2010,Mon,Cambusdoon New Ground,Scotland,108,105.555556

In [37]:
century["Strike rate"].sort_values(ascending=False)

28157    255.000000
28158    221.739130
34446    216.176471
28153    206.666667
36753    206.153846
            ...
28851     64.556962
24821     64.406780
43594     63.975155
43591     61.271676
2141      60.714286
Name: Strike rate, Length: 1161, dtype: float64

In [38]:
century["Strike rate"].describe()

count    1161.000000
mean       98.667195
std        20.365680
min        60.714286
25%        85.185185
50%        95.081967
75%       107.692308
max       255.000000
Name: Strike rate, dtype: float64

In [39]:
century[century["Strike rate"]==century["Strike rate"].max()]

,Country,Player,Runs,MatchDate,Weekday,Ground,Versus,Balls,Strike rate
28157,Pakistan,Shahid Afridi,102,04-10-1996,Fri,Gymkhana Club Ground,Sri Lanka,40,255.0

In [ ]:
#FOR LAST QUETION NEED DATE / TIME to SPLIT THE DATE COLUMN TO GET THE YEAR COLUMN