# Reading and Writing Files in Python for Machine Learning
This notebook demonstrates reading various file types commonly used in Machine Learning workflows using Python,
and also how to write DataFrames to Excel files with explanations of key hyperparameters.

In [ ]:
#To know the current working directory where you can store the input data files used in this notebook.
import os
print(os.getcwd())

# Set the new directory path if required
os.chdir("C:/Users/Username/Downloads/Folders/Datasets and Python Notebook for Handling Files")

# Confirm the change
print(os.getcwd())

In [ ]:
# Import libraries
import pandas as pd

# 1. Reading CSV files

Use `pandas.read_csv()` for CSV files.

Common hyperparameters include

#### Basic Structure & Data Loading
|Parameter|Purpose|
|---------|-------|
|filepath_or_buffer|Path to the CSV file (or URL). Core input.|
|sep|Delimiter used in the file (e.g., ',', '\t', ';').|
|header|	Row number(s) to use as the column names. Commonly 0.|
|names|	If no header or to assign custom column names.|
|index_col|	Column(s) to use as row labels (indexes). Important for time series or grouped data.|
|na_values|	Additional strings to recognize as NA/NaN (e.g., ['NA', '?', '--']).|
|dtype|Set data types explicitly (e.g., {'col1': 'float32'}) â€” avoids type inference and saves memory.|
|usecols|Select only certain columns (helps with memory/performance).|
|nrows|Read only first N rows (great for previewing).|
|parse_dates|	Convert columns to datetime. Can pass list of columns or dict.|
|encoding|Specify file encoding (e.g., 'utf-8', 'latin1'). Critical for non-English data.|
|on_bad_lines|Skip or warn on malformed lines.|
|skiprows|Skip specified number of lines or specific line indices. Useful for metadata removal.|
|skip_blank_lines|Skip over blank lines. Prevents parsing issues.|

In [ ]:
# Example CSV read
import pandas as pd
csv_file_path = 'popularity.csv'  # Replace with your CSV file path
df_csv = pd.read_csv(csv_file_path, sep=',', header=0, usecols=None, dtype=None, nrows=None)
print(df_csv.head())

```
pd.read_csv(
    'Datasets/popularity.csv',
    sep=',',
    header=0,
    na_values=['NA', 'N/A', '--'],
    dtype={'id': int, 'value': float},
    #parse_dates=['date'],
    usecols=['id', 'value', 'date'],
    encoding='utf-8'
)
```

# 2. Writing DataFrames to CSV files

### Key parameters:

|Parameter|Purpose|
|---------|-------|
|index=False: | Prevents writing the DataFrame's index (row numbers) to the CSV file. If you don't want the row index to appear in the CSV (which is typically unnecessary in most use cases), setting index=False ensures the file is clean and free from unnecessary data.|
|header=True: | Specifies whether or not to write column names (headers) to the CSV file. Setting header=True ensures that the first row of the CSV file contains the column names, which helps when reading the file back into a DataFrame (or when sharing the file, for clarity).|

In [ ]:
import pandas as pd

# Create a dummy transactional dataset
data = {
    'Transaction_ID': [101, 102, 103, 104, 105],
    'Customer_Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Product': ['Laptop', 'Phone', 'Tablet', 'Headphones', 'Monitor'],
    'Amount': [1200, 800, 450, 200, 300],
    'Date': ['2025-06-01', '2025-06-02', '2025-06-03', '2025-06-04', '2025-06-05']
}

# Create a DataFrame
df = pd.DataFrame(data)

# Write the DataFrame to a CSV file
df.to_csv('transaction_data.csv', index=False, header=True)

# 3. Reading Excel files
- Use `pandas.read_excel()`.
- Important hyperparameters: `sheet_name`, `header`, `usecols`, `skiprows`.

|Parameter|Purpose|
|---------|-------|
|io|Path to Excel file or file-like object (mandatory).|
|sheet_name|	Name or index of sheet(s) to read. Use None to read all sheets.|
|header|	Row(s) to use as the column names (default is 0). Use None if no header.|
|names|	List of column names to use (overrides header). Useful for renaming.|
|usecols|	Select subset of columns (by label or Excel-style letters).|
|skiprows|	Number of rows (or list of rows) to skip at the start.|
|nrows|	Limit the number of rows to read (useful for sampling).|
|dtype|	Specify column data types. Prevents incorrect automatic inference.|
|na_values|	Additional strings to recognize as NaN.|
|engine|	Engine to use: "openpyxl" (default), "xlrd", or "odf".|
|index_col|	Column(s) to set as index.|
|parse_dates|	Automatically parse dates. Useful for time series data.|
|skipfooter|	Skip rows at the end of the sheet.|
|squeeze|	If the parsed data only contains one column, return a Series instead.|


### Example Excel read
```
excel_file_path = 'SuperStoreUS-2015.xlsx'  # Replace with your Excel file path
df_excel = pd.read_excel(excel_file_path, sheet_name=0, header=0, usecols=None, skiprows=0)
print(df_excel.head())
```

In [ ]:
import pandas as pd
df = pd.read_excel("SuperStoreUS-2015.xlsx",
                   sheet_name="Orders",
                   usecols=["Region","Sales","Profit"],
                   skiprows=0,
                   nrows=100,
                   dtype={"Region": str, "Sales": float},
                   na_values=["NA", "missing"],
                   #parse_dates=["Order Date"]
                   )

df

# 4. Writing DataFrames to Excel files
- Use `DataFrame.to_excel()` to write data to Excel files.
- Important hyperparameters include:
  
|Parameter|Purpose|
|---------|-------|  
|`sheet_name`|Name of the sheet to write to.|
|`index`|Whether to write row index.|
|`header`|Whether to write column headers.|
|`startrow`|Row position to start writing data.|
|`engine`|Excel writer engine, e.g., 'openpyxl'.|

Use `pd.ExcelWriter` for writing multiple sheets.

In [ ]:
# Let us create 3 dataframes, and then write them to excel files in respective sheets
import pandas as pd
# Create a dummy transactional dataset
data = {
    'Transaction_ID': [101, 102, 103, 104, 105],
    'Customer_Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Product': ['Laptop', 'Phone', 'Tablet', 'Headphones', 'Monitor'],
    'Amount': [1200, 800, 450, 200, 300],
    'Date': ['2025-06-01', '2025-06-02', '2025-06-03', '2025-06-04', '2025-06-05']
}

# Create a DataFrame
df = pd.DataFrame(data)
df

In [ ]:
# Writing a single DataFrame to Excel
output_excel_path_1 = 'transactions.xlsx'  # Output Excel file path

# Writing CSV DataFrame to Excel
df.to_excel(
    output_excel_path_1,
    sheet_name='df_data',      # Sheet name in Excel
    index=False,                # Do not write DataFrame index
    header=True,                # Write column headers
    startrow=0,                 # Start writing at first row
    engine='openpyxl'           # Use openpyxl engine
)

In [ ]:
import pandas as pd

# Simulated data that might come from an Excel file
data = {
    'EmployeeID': [101, 102, 103],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Salary': [50000, 60000, 70000]
}

# Create the DataFrame
df_excel = pd.DataFrame(data)

print(df_excel)

import pandas as pd

# Sample data simulating JSON records
data = [
    {"id": 1, "name": "Alice", "skills": "Python, Excel"},
    {"id": 2, "name": "Bob", "skills": "Java, SQL"},
    {"id": 3, "name": "Charlie", "skills": "JavaScript, HTML"}
]

# Convert JSON-like list of dicts to DataFrame
df_json = pd.DataFrame(data)

print(df_json)

import pandas as pd

# Simulated SQL query result
data = {
    'OrderID': [2001, 2002, 2003],
    'Customer': ['John Doe', 'Jane Smith', 'Alice Brown'],
    'TotalAmount': [150.75, 250.00, 99.99]
}

# Create the DataFrame
df_sql = pd.DataFrame(data)

print(df_sql)


#output_excel_path_2 = '/content/output_data_2.xlsx'  # Output Excel file path
# Writing multiple DataFrames to different sheets in the same Excel file
with pd.ExcelWriter('output_data_2.xlsx', engine='openpyxl', mode='w') as writer:
    df_excel.to_excel(writer, sheet_name='Excel_Data', index=False)
    df_json.to_excel(writer, sheet_name='JSON_Data', index=False)
    df_sql.to_excel(writer, sheet_name='SQL_Data', index=True)  # SQL DataFrame may have index

# 5. Reading Text Files

To read text files in pandas, the function you use depends on the structure of the text file. There are multiple functions to read a text file, but only 2 techniques are covered in the session. The rest of the techniques are for your reference. Most commonly used pandas functions for different types of text files are:

### 1. pandas.read_csv()
- We can use this when the text file is comma-separated or has a regular delimiter (CSV, TSV, etc.).
-You can customize the delimiter using the sep parameter.

|Parameter|Purpose|
|---------|-------|
|filename.txt|As the name suggests it is the name of the text file from which we want to read data.|
|sep|It is a separator field. In the text file, we use the space character(' ') as the separator.|
|header|This is an optional field. By default, it will take the first line of the text file as a header. If we use header=None then it will create the header|
|names|We can assign column names while importing the text file by using the names argument.|

In [ ]:
with open('Text File 1.txt', 'r') as f:
    print(f.read())

In [ ]:
#Example:
import pandas as pd
df = pd.read_csv('Text File 1.txt', sep=',')  # comma-separated values
df

### 2. pandas.read_table()
- We can use this when the file is tab-delimited or uses other consistent delimiters.
- Default delimiter: \t (tab).

In [ ]:
with open('employees.txt', 'w') as f:
    f.write("Name\tDepartment\tSalary\n")
    f.write("Alice\tHR\t50000\n")
    f.write("Bob\tEngineering\t65000\n")
    f.write("Carol\tMarketing\t55000\n")

df = pd.read_table('employees.txt')
print(df)

In [ ]:
#Example:
df = pd.read_table('Text File 2.txt')  # assumes tab-delimited text
df

### 3. pandas.read_fwf()
-We can use this when the file is fixed-width formatted (columns are aligned with fixed widths).

Example:

`df = pd.read_fwf('data.txt')  # for fixed-width files`

In [ ]:
with open('Text File 3.txt', 'r') as f:
    print(f.read())

In [ ]:
#Example:

df = pd.read_fwf('Text File 3.txt')  # for fixed-width files
df

In [ ]:
# Example TXT read
txt_file_path = 'Text File 1.txt'  # Replace with your TXT file path
with open(txt_file_path, 'r', encoding='utf-8') as f:
    text = f.read()
print(text[:300])  # print first 300 characters

with open(txt_file_path, 'r', encoding='utf-8') as f:
    lines = f.readlines()
print(lines[:5])  # print first 5 lines

### 4. Python's built-in `open()` function
- Methods: `read()` for entire content, `readlines()` for line-by-line reading.
- Handle encoding if necessary.

In [ ]:
# Example TXT read
txt_file_path = 'Text File 1.txt'  # Replace with your TXT file path
with open(txt_file_path, 'r', encoding='utf-8') as f:
    text = f.read()
print(text[:300])  # print first 300 characters
 
with open(txt_file_path, 'r', encoding='utf-8') as f:
    lines = f.readlines()
print(lines[:5])  # print first 5 lines

# 6. Writing DataFrames to Text Files

### Key parameters:

|Parameter|Purpose|
|---------|-------|
|`sep`|Defines the separator for the text file. You can choose tab (\t), comma (,), or any other delimiter.|
|`index=False`|Prevents writing row numbers (index) to the file.|
|`header=True`|Writes the column names in the first row. It is True by default.|

In [ ]:
import pandas as pd

# Example DataFrame
data = {
    'Transaction_ID': [101, 102, 103, 104, 105],
    'Customer_Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Product': ['Laptop', 'Phone', 'Tablet', 'Headphones', 'Monitor'],
    'Amount': [1200, 800, 450, 200, 300],
    'Date': ['2025-06-01', '2025-06-02', '2025-06-03', '2025-06-04', '2025-06-05']
}

# Create a DataFrame
df = pd.DataFrame(data)
df

# Writing the DataFrame to a CSV file (which is a type of text file)
df.to_csv('output.txt', sep='\t', index=False)  # Tab-separated file

# This will write the DataFrame as a text file using tab as separator

# 7. Reading JSON files

JSON (JavaScript Object Notation) files are:
- Text-based data formats used for storing and exchanging structured data.
- Lightweight, human-readable, and widely used in web APIs, configuration files, and data storage.

### Key parameters of `pd.read_json()`

|Parameter|Description|
|---------|-----------|
|path_or_buf|	The file path, URL, or JSON string to read from.|
|orient|Indicates the expected format of the JSON string. Examples: 'records', 'split', 'index'.|
|typ|Type of object to return: 'frame' or 'series'.|
|convert_dates|	Try to convert string dates to datetime objects. (True by default).|
|lines|	Set to True if each line is a separate JSON object (i.e., JSON Lines format).|
|dtype|	Allows setting specific data types for columns.|
|encoding|Specifies character encoding (e.g., 'utf-8').	|


### A typical JSON structure looks like this:

```
  [
  {
    "PassengerId": "1",
    "Name": "Braund, Mr. Owen Harris",
    "Sex": "male",
    "Survived": "0"
  },
  {
    "PassengerId": "2",
    "Name": "Cumings, Mrs. John Bradley (Florence Briggs Thayer)",
    "Sex": "female",
    "Survived": "1"
  },
  {
    "PassengerId": "3",
    "Name": "Heikkinen, Miss. Laina",
    "Sex": "female",
    "Survived": "1"
  },
  {
    "PassengerId": "4",
    "Name": "Futrelle, Mrs. Jacques Heath (Lily May Peel)",
    "Sex": "female",
    "Survived": "1"
  }
]
```

### Example JSON read
```
json_file_path = 'sample_json.json'  # Replace with your JSON file path
df_json = pd.read_json(json_file_path, orient='records', typ='frame', lines=False)
print(df_json.head())
```

In [ ]:
import json
import pandas as pd

df = pd.read_json(
    path_or_buf="titanic.json",  # Path to the JSON file
    orient=None,                 # Infers the structure format (used when not JSON Lines)
    typ='frame',                 # Return a DataFrame (default is 'frame'; other option is 'series')
    dtype=True,                  # Let pandas infer column data types
    convert_axes=True,           # Convert axes to proper types (e.g., numeric index)
    convert_dates=True,          # Automatically convert date strings to datetime
    keep_default_dates=True,     # Also parse pandas-specific date formats
    precise_float=False,         # Set to True for higher precision in floating point numbers
    date_unit='ms',              # Use when converting numeric dates (ignored here, but good to know)
    encoding='utf-8',            # Encoding used to decode the file
    lines=True                   # Required for JSON Lines format (NDJSON)
)

df

# 8. Writing DataFrames to JSON files

### Key parameters of `df.to_json()`

|Parameter|Description|
|---------|-----------|
|orient='records':| This specifies the format in which the DataFrame will be converted into JSON. In this case, records means that each row of the DataFrame will be converted into a dictionary, and the list of these dictionaries will be the JSON structure. It is useful for generating a JSON that represents each row of the DataFrame as an individual record, making it easy to use in applications that require record-based data, such as databases or APIs.|
|lines=True:| This writes each record on a separate line in the JSON file. This option is helpful when you want to write large JSON files, where each line corresponds to a separate record. This structure is often easier to process in chunks, especially when dealing with large data.|

In [ ]:
# Example DataFrame
data = {
    'Transaction_ID': [101, 102, 103, 104, 105],
    'Customer_Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Product': ['Laptop', 'Phone', 'Tablet', 'Headphones', 'Monitor'],
    'Amount': [1200, 800, 450, 200, 300],
    'Date': ['2025-06-01', '2025-06-02', '2025-06-03', '2025-06-04', '2025-06-05']
}

# Create a DataFrame
df = pd.DataFrame(data)
df

df.to_json('transaction_data.json', orient='records', lines=True)

# 9. Reading SQL tables
- Use `pandas.read_sql()`.
- Requires a DB connection and SQL query.
- Common parameters: `sql`, `con`, `index_col`.

|Parameter|Description|
|---------|-----------|
|sql|The SQL query or table name you want to read. This can be a SQL query (e.g., SELECT * FROM table_name) or the name of the table you want to load.|
|con|The database connection object. This is typically a connection object created using a database adapter like sqlite3, pyodbc, SQLAlchemy, or other libraries depending on the database you are using.|

In [ ]:
#This code has been discussed in the session

import sqlite3
import pandas as pd

# Step 1: Open the .sql file and read the query
with open('Create database.sql', 'r') as f:
    sql_script = f.read()

# Step 2: Connect to an SQLite database in memory (this will create a temporary database in memory)
connection = sqlite3.connect(':memory:')

# Step 3: Execute the SQL script to create the table and insert data
connection.executescript(sql_script)

# Step 4: Query the data and load it into a DataFrame
#df = pd.read_sql(sql="SELECT * FROM users", con=connection, index_col='id')
df = pd.read_sql_query("SELECT * FROM users", connection)

# Step 5: Show the DataFrame
print(df)

# Close the connection
connection.close()

In [ ]:
#This code is for additional reference

# Example: SQLite in-memory DB
import sqlite3

# Create an in-memory SQLite database
conn = sqlite3.connect(':memory:')

# Create a table
conn.execute('CREATE TABLE sample_table (id INTEGER PRIMARY KEY, name TEXT, value REAL)')

# Insert multiple rows
conn.execute("INSERT INTO sample_table (name, value) VALUES ('Alice', 23.5), ('Bob', 45.2), ('Charlie', 31.8)")

# SQL query to read the data
sql_query = 'SELECT * FROM sample_table'

# Load the SQL result into a pandas DataFrame, using 'id' as index
df_sql = pd.read_sql(sql=sql_query, con=conn, index_col='id')

# Print the result
print(df_sql)

# Close the database connection
conn.close()

# 10. Writing DataFrames to SQL tables

### Key parameters of `df.to_sql()`

|Parameter|Description|
|---------|-----------|
|name='transactions':| The name of the SQL table where the DataFrame will be written. Used to specify the table name where your data will be inserted.|
|con=conn:| Purpose: The database connection. In this case, itâ€™s an SQLite connection (conn).| This connection object is used to interact with the database where the DataFrame will be written.|
|index=False: | Prevents the index of the DataFrame from being written as a column in the SQL table. If you donâ€™t want the DataFrame index (row numbers) to be included in the SQL table as a column, set index=False.|
|if_exists='replace':| Determines what to do if the table already exists. Why itâ€™s important: This controls how the table will be handled if it already exists. You can choose to replace, append, or fail based on your use case. <br> â€¢ replace: Drop the table if it exists and create a new one. <br> â€¢ append: Append data to the existing table. <br> â€¢ fail: Raise an error if the table already exists. <br>|

In [ ]:
#This code has been discussed in the session

import pandas as pd

# Create a dummy transactional dataset
data = {
    'Transaction_ID': [101, 102, 103, 104, 105],
    'Customer_Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Product': ['Laptop', 'Phone', 'Tablet', 'Headphones', 'Monitor'],
    'Amount': [1200, 800, 450, 200, 300],
    'Date': ['2025-06-01', '2025-06-02', '2025-06-03', '2025-06-04', '2025-06-05']
}

# Create a DataFrame
df = pd.DataFrame(data)

# Create the .sql file and write SQL commands

with open('transaction_data.sql', 'w') as file:
    # Write the CREATE TABLE statement
    file.write("CREATE TABLE IF NOT EXISTS transactions (\n")
    file.write("    Transaction_ID INTEGER PRIMARY KEY,\n")
    file.write("    Customer_Name TEXT,\n")
    file.write("    Product TEXT,\n")
    file.write("    Amount INTEGER,\n")
    file.write("    Date TEXT\n")
    file.write(");\n\n")

    # Write the INSERT INTO statements for each row in the DataFrame
    for i, row in df.iterrows():
        file.write(f"INSERT INTO transactions (Transaction_ID, Customer_Name, Product, Amount, Date) VALUES ({row['Transaction_ID']}, '{row['Customer_Name']}', '{row['Product']}', {row['Amount']}, '{row['Date']}');\n")

In [ ]:
#This code is for additional reference

import pandas as pd
import sqlite3

# Create a dummy transactional dataset
data = {
    'Transaction_ID': [101, 102, 103, 104, 105],
    'Customer_Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Product': ['Laptop', 'Phone', 'Tablet', 'Headphones', 'Monitor'],
    'Amount': [1200, 800, 450, 200, 300],
    'Date': ['2025-06-01', '2025-06-02', '2025-06-03', '2025-06-04', '2025-06-05']
}

# Create a DataFrame
df = pd.DataFrame(data)

# Create an SQLite database in memory
conn = sqlite3.connect('transaction_data.db')

# Write the DataFrame to an SQL table
df.to_sql('transactions', conn, index=False, if_exists='replace')

# Close the connection
conn.close()

# 11. Reading HTML tables

HTML tables are an essential part of web pages used to display tabular data in a structured format. In HTML, a table is defined using specific HTML tags that organize data into rows and columns. Each table can consist of several components, such as headers, rows, and cells, which provide clarity and structure to the data being presented.

Structure of an HTML Table
The basic structure of an HTML table involves the following key tags:

- **`<table>`**: Defines the table itself.
  
- **`<tr>`**: Defines a table row.

- **`<th>`**: Defines a table header cell. Text inside `<th>` is typically bold and centered.

- **`<td>`**: Defines a table data cell. These cells contain the actual data in the table.

- **`<thead>`**: Defines the header section of a table (optional).

- **`<tbody>`**: Defines the body section of the table (optional).

- **`<tfoot>`**: Defines the footer section of a table (optional).

## Example of an HTML Table:
Hereâ€™s an example of an HTML table that contains data about products and their prices:

```
html
Copy
<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Laptop</td>
      <td>$1000</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>$500</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Tablet</td>
      <td>$300</td>
      <td>15</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Total</td>
      <td>$1800</td>
      <td>30</td>
    </tr>
  </tfoot>
</table>
```
## Explanation of the Table Components:
- **`<table>`**: Defines the entire table.

- **`<thead>`**: Contains the header row with column names (Product, Price, Quantity).

- **`<tbody>`**: Contains the body of the table where the actual data resides.

- **`<tfoot>`**: Typically used to display totals or summaries for the table.

## Styling HTML Tables:
HTML tables can be styled using CSS (Cascading Style Sheets) to enhance the visual appearance. For example:

```
html
Copy
<style>
  table {
    width: 50%;
    border-collapse: collapse;
  }
  th, td {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
  }
  th {
    background-color: #f2f2f2;
  }
</style>
```

This will create a table with a 50% width, padding, and borders for each cell, and the header row will have a light background color.

## Use Cases for HTML Tables:
- Data Representation: Displaying structured data, such as product lists, financial statements, or contact lists.
- Form Layout: Organizing form input fields in a clean and accessible way.
- Reports and Dashboards: Presenting summarized or detailed data in an easily readable format.

## Key Points:
- HTML tables are widely used for displaying structured data in rows and columns on web pages.
- They provide a simple way to represent tabular information that can be easily read and understood.
- HTML tables can be styled and customized using CSS to create visually appealing layouts.
- `pd.read_html()` is a powerful function for extracting HTML tables directly into a DataFrame.
- Parameters like `match`, `attrs`, and `header` allow fine control over which tables to extract and how to interpret the data.
- Parameters like `skiprows`, `index_col`, and `parse_dates` help in managing the table structure and data types.

### Key parameters of `pd.read_html()`

|Parameter|Description|
|---------|-----------|
|io:| Type: String or file-like object <br> Purpose: The URL or file path to read the HTML data from. It can also be an HTML string or file object. <br> Explanation: This is where you specify the location of the HTML file or URL containing the table(s). For example, you can pass a URL like 'http://example.com', or a local file path like 'path_to_file.html'.|
|match:|Type: String (optional) <br> Purpose: A regular expression to match table tags. <br> Explanation: You can use this parameter to filter which tables to extract from the HTML file based on a pattern. By default, match=None, which extracts all the tables from the HTML. For example, if you are looking for a specific table with the class name data-table, you can use match="data-table" to filter it.|
|attrs:| Type: Dictionary (optional) <br> Purpose: Filters tables based on specific attributes like class or id. <br> Explanation: This parameter is useful when you want to read a table with a specific id or class. For example, attrs={'class': 'data-table'} will only extract tables with the class attribute set to 'data-table'.|
|header:| Type: Integer, list of integers, or None (optional) <br> Purpose: Specifies which row(s) to use as the header of the table. <br> Explanation: This parameter defines the row number(s) to use as the header for the DataFrame. If set to 0 (default), the first row is used as the header. If you want to use multiple rows as headers, pass a list like [0, 1]. Set it to None if you want Pandas to treat the first row as data instead.|
|index_col:| Type: Integer, string, or None (optional) <br> Purpose: Specifies which column(s) to set as the index of the DataFrame. <br> Explanation: This allows you to set one or more columns from the table as the index of the resulting DataFrame. For example, if you want the first column to be the index, set index_col=0.|
|skiprows:| Type: Integer or list of integers (optional) <br> Purpose: Specifies how many rows to skip at the beginning. <br> Explanation: This parameter is useful if there are irrelevant rows before the table data. For example, if the table starts after the first two rows, you can set skiprows=2.|
|skip_footer:| Type: Integer (optional) <br> Purpose: Specifies how many rows to skip at the end of the table. <br> Explanation: This parameter is useful when the table has extra rows at the end that are not needed (e.g., footnotes, totals, etc.).|
|parse_dates:| Type: List of integers or booleans (optional) <br> Purpose: Specifies which columns to parse as dates. <br> Explanation: If the table contains columns with date values, you can use this parameter to automatically parse those columns into datetime objects. For example, parse_dates=[0, 1] would convert the first and second columns into date format.|
|thousands:| Type: String (optional) <br> Purpose: Specifies the thousands separator for parsing numbers. <br> Explanation: If the numeric data contains thousands separators (e.g., commas in the US or dots in Europe), you can specify that separator using this parameter. For example, use thousands=',' to correctly parse numbers like 1,000 into 1000.|
|encoding:| Type: String (optional) <br> Purpose: Specifies the character encoding to use for the HTML file. <br> Explanation: This parameter is useful when working with files that contain non-ASCII characters. For example, you can use encoding='utf-8' to ensure that characters are correctly decoded.|
|flavor:| Type: String (optional) <br> Purpose: Specifies the flavor of parsing to use, either 'lxml' or 'html5lib'. <br> Explanation: Pandas uses lxml by default, but if you encounter parsing issues, you can specify the html5lib parser, which can sometimes be more lenient in reading poorly formatted HTML.|
|parse_nums:| Type: Boolean (optional) <br> Purpose: Automatically parses columns that look like numeric data. <br> Explanation: Set to True if you want Pandas to try to convert columns that appear to contain numeric data into actual numeric types.|

In [ ]:
import pandas as pd

# Specify the URL of the Wikipedia page
url = "https://en.wikipedia.org/wiki/List_of_Netflix_original_films_(2024)"

# Use pandas.read_html to extract all tables from the page
tables = pd.read_html(url)

# Check how many tables were foundâ€”usually the main film list is among them
print(f"Found {len(tables)} tables on the page.")

# Pick the most likely table (often the first one; adjust index if needed)
df = tables[0]

# Inspect the first few rows to verify youâ€™ve got the correct table
print(df.head())

# Normalize column names: convert everything to strings and strip whitespace
df.columns = [str(col).strip() for col in df.columns]

# Clean up any odd column names, renaming for clarity (adjust names as needed)
df = df.rename(columns={
    'Title': 'Film_Title',
    'Release date': 'Release_Date',
    'Genre(s)': 'Genres',
    'Director(s)': 'Directors',
    # Add more renames based on actual header names
})

# (Optional) Convert release date column to datetime for easier filtering/sorting
df['Release_Date'] = pd.to_datetime(df['Release_Date'], errors='coerce', dayfirst=True)

# ðŸŽ‰ Final: `df` now holds the Netflix films list in a tidy, pandas-ready format
print(df.info())

# 12. Reading Data Using API

APIs (Application Programming Interfaces) are sets of protocols, routines, and tools that allow different software applications to communicate with each other. An API defines the methods and data formats that applications can use to request and exchange information with each other.

## Key Points About APIs:
- Interface for Communication: An API acts as an intermediary that enables different systems or software components to interact with each other. For example, a weather application might use an API to get weather data from a remote server.
- Abstraction: APIs abstract the internal workings of a system, providing a simple interface for developers to use without needing to understand how the underlying system works.
- Request-Response Model:
Typically, an API follows a request-response model, where one system sends a request for data or action, and the other system responds with the requested data or confirmation of action.
- Common Use Cases:
APIs are widely used to integrate services such as payment gateways (Stripe, PayPal), social media (Twitter, Facebook), weather services, mapping services (Google Maps), and more.

## Types of APIs:

1. Web APIs: These are APIs that are accessible over the web (HTTP/HTTPS), and they are commonly used to allow integration between different web services.
  - Example: REST API, SOAP API, GraphQL.

2. Library/API in Programming Languages: These are APIs that are available in programming languages like Python, Java, and JavaScript. They provide functions and libraries that programmers can use to interact with the underlying system or perform specific tasks.
  - Example: The Python requests library to send HTTP requests.

3. Operating System APIs: These provide an interface to the functionalities of an operating system
  - Example: Windows API, POSIX API.

4. Database APIs: Allow applications to interact with a database system for tasks like retrieving, updating, and deleting data.
  - Example: SQL-based APIs for interacting with relational databases like MySQL, PostgreSQL.

## API Methods/Requests:
Common HTTP methods used in Web APIs include:
- GET: Fetch data from the server (e.g., get user data).
- POST: Send data to the server (e.g., create a new user).
- PUT: Update existing data on the server (e.g., update user profile).
- DELETE: Remove data from the server (e.g., delete a user account).

In [ ]:
import requests
import pandas as pd

def get_weather(lat, lon, start_date=None, end_date=None):
    """
    Fetch daily weather data (temperature, wind speed) from Open-Meteo.

    Parameters:
      lat (float): latitude
      lon (float): longitude
      start_date (str): in 'YYYY-MM-DD' format (optional)
      end_date (str): in 'YYYY-MM-DD' format (optional)

    Returns:
      pd.DataFrame: daily time series of weather variables
    """
    base_url = "https://api.open-meteo.com/v1/forecast"
    params = {
        "latitude": lat,
        "longitude": lon,
        "daily": "temperature_2m_max,temperature_2m_min,windspeed_10m_max",
        "timezone": "UTC"
    }
    if start_date:
        params["start_date"] = start_date
    if end_date:
        params["end_date"] = end_date

    resp = requests.get(base_url, params=params)
    resp.raise_for_status()
    js = resp.json()

    df = pd.DataFrame(js["daily"])
    return df

# Example: Bengaluru weather for next 7 days
df = get_weather(12.9716, 77.5946)
print(df)

# 13. Web Scraping HTML Table

# Step 1: Import necessary libraries

- requests: This library is used to send HTTP requests to retrieve web page content. It allows interaction with web resources.

- BeautifulSoup from bs4: This library helps parse HTML and XML documents. Itâ€™s commonly used for web scraping.

- pandas: A powerful data manipulation and analysis library used to work with structured data, such as tables, CSV, Excel, or SQL databases.

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Step 2: Get the page content

- `url`: The URL of the Wikipedia page that contains the table of Netflix films in 2024.

- `requests.get(url)`: Sends an HTTP GET request to retrieve the content of the page.

- `response.text`: Extracts the HTML content from the response object.

- `BeautifulSoup(response.text, 'html.parser')`: Parses the raw HTML text of the page using BeautifulSoup and the html.parser to structure it into a BeautifulSoup object (soup).

In [ ]:
# Step 2: Get the page content
url = "https://en.wikipedia.org/wiki/List_of_Netflix_original_films_(2024)"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

# Step 3: Find the first table on the page

- `soup.find()`: This method searches the parsed HTML (soup) and returns the first matching element.

- `'table'`: We're looking for the **'< table >'** element.

- `{'class': 'wikitable'}`: Specifies that we want a table with the class wikitable. Wikipedia tables often use this class for structured data tables.

In [ ]:
# Step 3: Find the first table on the page
table = soup.find('table', {'class': 'wikitable'})

# Step 4: Extract headers

- `headers = []`: Initializes an empty list to store the table headers.

- `table.find_all('th')`: Finds all <th> (table header) elements in the table.

- `th.text.strip()`: Extracts the text from each header (th), removes extra spaces around the text using strip(), and appends it to the headers list.

In [ ]:
# Step 4: Extract headers
headers = []
for th in table.find_all('th'):
    headers.append(th.text.strip())

# Step 5: Extract rows

- `rows = []`: Initializes an empty list to store the rows of data.

- `table.find_all('tr')[1:]`: Finds all <tr> (table row) elements, but skips the first one (header row) by slicing [1:].

- `tr.find_all(['td', 'th'])`: Finds all table data (<td>) and header (<th>) cells within each row (tr).

- `[cell.text.strip() for cell in cells]`: Extracts the text from each cell (cell.text) and strips any leading or trailing whitespace.

- `if len(row) == len(headers):`: Checks if the number of cells in the row matches the number of headers. If not, that row is discarded.

- `rows.append(row)`: Adds the valid row to the rows list.

In [ ]:
# Step 5: Extract rows
rows = []
for tr in table.find_all('tr')[1:]:  # Skip header
    cells = tr.find_all(['td', 'th'])
    row = [cell.text.strip() for cell in cells]
    if len(row) == len(headers):  # Only keep rows with expected number of columns
        rows.append(row)

# Step 6: Create a DataFrame

`pd.DataFrame(rows, columns=headers)`: Creates a Pandas DataFrame from the list of rows (rows) and uses the list of headers (headers) for the column names.

In [ ]:
# Step 6: Create a DataFrame
df = pd.DataFrame(rows, columns=headers)

# Step 7: Clean column names (optional)

- `df.columns`: Accesses the column names of the DataFrame.

- `col.replace('\xa0', ' ')`: Replaces the non-breaking space character (\xa0) with a regular space (' '), ensuring consistent column naming.

- `strip()`: Removes any leading or trailing whitespace from the column names.

In [ ]:
# Step 7: Clean column names (optional)
df.columns = [col.replace('\xa0', ' ').strip() for col in df.columns]

# Step 8: Rename for consistency (optional)

- `df.rename(columns={...})`: Renames specific columns for consistency and better readability.

- For example, the column 'Title' is renamed to 'Film_Title', 'Release date' to 'Release_Date', and so on.

- This ensures that column names are uniform and meaningful.

In [ ]:
# Step 8: Rename for consistency (optional)
df = df.rename(columns={
    'Title': 'Film_Title',
    'Release date': 'Release_Date',
    'Genre(s)': 'Genres',
    'Director(s)': 'Directors',
    # Add more as needed
})

# Step 9: Convert date column to datetime (optional)

`df['Release_Date']`: Accesses the Release_Date column in the DataFrame.

`pd.to_datetime(df['Release_Date'], errors='coerce', dayfirst=True)`: Converts the Release_Date column to a Pandas datetime object.

`errors='coerce'`: If any date is invalid, it will be set to NaT (Not a Time) instead of throwing an error.

`dayfirst=True`: Ensures that the day comes before the month in the date format (common in many countries).

In [ ]:
# Step 9: Convert date column to datetime (optional)
df['Release_Date'] = pd.to_datetime(df['Release_Date'], errors='coerce', dayfirst=True)

`df.info()`: Displays a summary of the DataFrame, including the number of entries, column names, and data types.

`df.head()`: Displays the first 5 rows of the DataFrame to check the extracted data.

In [ ]:
# Display info
print(df.info())
print(df.head())