#### Calculate the salary by given Working Hours

In [20]:
work_Hours = [int(x) for x in input("Enter the Working Hours seperated by spaces : ").split()]
hourly_wage= int(input("Enter Hourly Wage rate: "))
total=sum(work_Hours)
print("Total hours worked this week: ", total)
print("Total Salary earned is: ", total*hourly_wage)

Enter the Working Hours seperated by spaces :  1 1 1 1 1
Enter Hourly Wage rate:  5

Total hours worked this week:  5
Total Salary earned is:  25

#### Checking and removing Duplicates in List

In [37]:
l1=[x for x in input("Enter the list seperated by space: ").split()]
l2=[]

#Normal way

for x in l1:
    if x not in l2:
        l2.append(x)
print(l2)

#Using comprehensions 

l3=[]
[l3.append(x) for x in l1 if x not in l3]
print(l3)

Enter the list seperated by space:  aa aa aa aa aa 1 1 1 123 3 4 5 3

['aa', '1', '123', '3', '4', '5']
['aa', '1', '123', '3', '4', '5']

#### Concatinate all the integers in a list into single number.

In [50]:
l1 = [int(x) for x in input("Enter only integers seperated by spaces: ").split()]
a=""
for x in l1:
    a+=str(x)
print(int(a))

Enter only integers seperated by spaces:  1 1

11

#### Minimum index sum of two list

In [11]:
def MinIndex(X1, X2):
    index1=len(X1)
    index2=len(X2)
    for x in X1:
        if x in X2:
            indx=X2.index(x)
            if indx+X1.index(x)<index1+index2:
                index1=X1.index(x)
                index2=indx
    
    return X1[index1]

L1 = [x for x in input("Enter your favourite dishs with least favourite in the last seperated by spaces: " ).split()]
L2 = [x for x in input("Enter your friends favourite dishs with least favourite in the last seperated by spaces: " ).split()]
dish=MinIndex(L1,L2)
print(dish)

Enter your favourite dishs with least favourite in the last seperated by spaces:  chocolate pizza pasta chicken rice
Enter your friends favourite dishs with least favourite in the last seperated by spaces:  rice pasta choco curry noodle

pasta

#### Overlaping Elements for 2 lists

In [18]:
def OverLap(X1, X2):
    final=[]
    for x in X1:
        if x in X2:
            final.append(x)
    return final
    

List1= [x for x in input("Enter you list 1 seperated by spaces: ").split()]
List2 = [x for x in input("Enter you list 2 seperated by spaces: ").split()]

result=OverLap(List1, List2)
print(result)

Enter you list 1 seperated by spaces:  1 2 4 5
Enter you list 2 seperated by spaces:  1 1 1 1 2 3 4

['1', '2', '4']

#### Unpacking and Packing

In [47]:
T1=1,2,3,4,5,6,7,8
print(T1)
a,b,*c = T1
print(a,b,c)
a,*b,c= T1
print(a,b,c)
a,*b,c,d= T1
print(a,b,c,d)

(1, 2, 3, 4, 5, 6, 7, 8)
1 2 [3, 4, 5, 6, 7, 8]
1 [2, 3, 4, 5, 6, 7] 8
1 [2, 3, 4, 5, 6] 7 8

#### List Comprehension in a Coordinate system ( x, y, z)

In [3]:
x=2
y=2
z=2

for i in range(0,x+1):
    for j in range(0,y+1):
        for k in range(0,z+1):
            print(i,j,k)

L1=[[i,j,k] for i in range(0,x+1) for j in range(0,y+1) for k in range(0,z+1)]

print(L1)

0 0 0
0 0 1
0 0 2
0 1 0
0 1 1
0 1 2
0 2 0
0 2 1
0 2 2
1 0 0
1 0 1
1 0 2
1 1 0
1 1 1
1 1 2
1 2 0
1 2 1
1 2 2
2 0 0
2 0 1
2 0 2
2 1 0
2 1 1
2 1 2
2 2 0
2 2 1
2 2 2
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [0, 1, 2], [0, 2, 0], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 1], [1, 0, 2], [1, 1, 0], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 0], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 2, 0], [2, 2, 1], [2, 2, 2]]

In [7]:
n = int(input())
arr = map(int, input().split())
arr

 5
 1 2 3 4 5

In [25]:
S1=set((1,2,3,4,5,6,7))
for x in S1:
    print(x)
print(type(S1))

1
2
3
4
5
6
7
<class 'set'>

####
Given the names and grades for each student in a class of

students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

Note: If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line.

Example
The ordered list of scores is , so the second lowest score is . There are two students with that score:

. Ordered alphabetically, the names are printed as:

alpha
beta

Input Format

The first line contains an integer,
, the number of students.
The subsequent lines describe each student over

lines.
- The first line contains a student's name.
- The second line contains their grade.

Constraints

    There will always be one or more students having the second lowest grade.

Output Format

Print the name(s) of any student(s) having the second lowest grade in. If there are multiple students, order their names alphabetically and print each one on a new line.

Sample Input 0

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39

Sample Output 0

Berry
Harry

Explanation 0

There are

students in this class whose names and grades are assembled to build the following list:

python students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

The lowest grade of
belongs to Tina. The second lowest grade of belongs to both Harry and Berry, so we order their names alphabetically and print each name on a new line.

In [1]:
def erange(n):
    i=0
    while i<n:
        return i
        i+=1


print(erange(4))

0

#### Generator Function |||| yield -> keyword

In [20]:
def erange(L1):
    
    i=0
    while True:
        yield L1[i]
        i=(i+1)%7


L1=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']

day=erange(L1)
print(next(day))
print(next(day))
print(next(day))
print(next(day))
print(next(day))
print(next(day))
print(next(day))
print(next(day))
print(next(day))

monday
tuesday
wednesday
thursday
friday
saturday
sunday
monday
tuesday