In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("/home/diablo/Desktop/IIIT_Program/Module-3-Inferential_Statistics/Centeral_Limit_Theorem/Inferntial Statistics - UpGrad Samples.csv")
df.head()

   Sample No.  Sample Mean
0           1          3.2
1           2          2.6
2           3          2.8
3           4          2.0
4           5          3.0

In [17]:
vpm=df["Sample Mean"].mean()

In [4]:
print(df["Sample Mean"].sum()/100)

2.3480000000000003

In [26]:

var=((df["Sample Mean"]-vpm)**2).sum()/df["Sample Mean"].count()
var

np.float64(0.18049600000000005)

In [27]:
ans=var**0.5
ans

np.float64(0.4248482081873478)

In [22]:
((df["Sample Mean"]-vpm)**2).sum()/(df["Sample Mean"].count()-1)**0.5

np.float64(1.814053055030268)